.container-card {
  display: flex;
  flex-direction: row;
  background-color: #3c0080;
  border: 1px solid #000;
  border-radius: 5px;
  color: #ccc;
  width: 70rem;
  margin-left: 4rem;
  margin-top: 2rem;
}

.video-card {
  width: 420;
  height: auto;
}

.video-title {
}

.video-desc {
  margin-top: 2rem;
}

.video-tags {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.tag {
  text-align: center;
  padding-left: 2rem;
}
